#dropbox{
  min-height: 75%;
  width: 50%;
  padding: 2rem;
  background-color: rgb(230, 230, 230);
  margin: auto;
}

#dropbox h2{
  opacity: 0.4;
  margin-top: 0;
  text-align: center;
}

#dropbox h3 {
  text-align: center;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

.obj {
  height: 250px;
  width: 100%;
}

.action-box {
  display: flex;
  justify-content: space-between;
}
